:plain
  ---
  template: page.html
  title: User documentation
  id: user-docs
  stickytoc: true
  scrollspytoc: true
  ---
.container.container-main
  .row
    .col-md-3.push-md-9
      - if (attr? :toc) && (attr? 'toc-placement', 'auto')
        #toccontainer
          #toc.fixedsticky{:class=>(attr 'toc-class', 'toc')}
            %h3#toctitle=attr 'toc-title'
            =converter.convert self, 'outline'
    .col-md-9.pull-md-3
      %h1=@header.title
      %p.lead
        - if attr? :revnumber
          %span#revnumber #{((attr 'version-label') || '').downcase} #{attr :revnumber}#{',' if (attr? :revdate)}
        - if attr? :revdate
          %span#revdate=attr :revdate
        - if attr? :revremark
          %br
          %span#revremark=attr :revremark

      #content
        =content
      - unless !footnotes? || attr?(:nofootnotes)
        #footnotes
          %hr
          - footnotes.each do |fn|
            .footnote{:id=>['_footnote', fn.index]}
              = succeed ". #{fn.text}" do
                %a(href="#_footnoteref_#{fn.index}")=fn.index
